<!-- ########## START: MAIN PANEL ########## -->
    <div class="container-fluid">
      <div class="br-pagetitle">
        <i class="fa fa-home tx-50  "></i>
        <div>
          <h4>Tableau de bord</h4>
          <p class="mg-b-0"></p>
        </div>
      </div>

      <div class="br-pagebody">
        <div class="row row-sm">
         
        </div><!-- row -->

        <div class="row  row-sm mg-b-30">
         
            <%= render "dashboard/partials/subpartials/graph" %>
          
        </div><!-- row -->

      </div><!-- br-pagebody -->
      
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->