<div class="br-pageheader mg-30">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    
    <span class="breadcrumb-item active"><h4>Journal des commandes</h4></span>
  </nav>
</div><!-- br-pageheader -->
<div class="br-pagebody mg-b-30">
    <div class="br-section-wrapper">   
        <%= render "search/partials/search-form" %>
        <center>
        <%= link_to "Réinitialiser la recherche", search_orders_path() %>
        </center>  
    
        <div class="headers mg-b-20">
        </div>

         <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Statistiques</h2>
                    </div>
                    <div class="panel-body">
                      <%= render "search/partials/tabs" %>
                    </div> 
                </div>
            </div>
        </div>
       
        
        

        
                
                       
    <%= render "search/partials/results"%>
               
        </div>  
</div>


