<!-- Modal -->
<!-- <div class="c-modal modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1"> 
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="c-card u-p-medium u-mh-auto" style="max-width:500px;">
                <h3>Modal Title</h3>
                <p class="u-text-mute u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum similique, dolores dolorem perferendis inventore illum dicta. Nostrum, officiis alias distinctio deleniti aliquid eum dolorum sed fugit omnis molestias! Magnam, animi.</p>
                <button class="c-btn c-btn--info" data-dismiss="modal">
                    Ok, just close this modal
                </button>
            </div>
        </div>
    </div>
</div> -->




<!-- Modal -->

  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header pd-y-20 pd-x-25">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Nouvel utilisateur</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <%= render 'form', user: @user %>
</div>
  </div>

