<h1>New Restoration Technical Sheet Item</h1>

<%= render 'form', restoration_technical_sheet_item: @restoration_technical_sheet_item %>

<%= link_to 'Back', restoration_technical_sheet_items_path %>
