<div class="container">
	<div class="alert-wrapper">
		<div class="alert alert-success" role="alert">
		  <h3>Félicitations!</h3>
		  Votre commande a été passée avec succès et son traitement commence le plus tôt possible.
		</div>
	</div>
</div>