<div class="fgf">
<table class="c-table" id="datatable">
    <caption class="c-table__title">
        Sortable Tables <small>Powered by DataTables</small>
    </caption>
    <thead class="c-table__head c-table__head--slim">
        <tr class="c-table__row">
            <th class="c-table__cell c-table__cell--head no-sort">Project</th>
            <th class="c-table__cell c-table__cell--head">Deadline</th>
            <th class="c-table__cell c-table__cell--head no-sort">Leader + Team</th>
            <th class="c-table__cell c-table__cell--head">Budget</th>
        </tr>
    </thead>
    <tbody>
        <tr class="c-table__row">
            <td class="c-table__cell">New Dashboard</td>
            <td class="c-table__cell">17th Oct, 17</td>
            <td class="c-table__cell">Mahmoud</td>
            <td class="c-table__cell">$4,670</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">landing Page</td>
            <td class="c-table__cell">23th Dec, 18</td>
            <td class="c-table__cell">Norman Hammond</td>
            <td class="c-table__cell">$5,740</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">Customer Care Interface</td>
            <td class="c-table__cell">2nd Jan, 18</td>
            <td class="c-table__cell">Joseph Mullins</td>
            <td class="c-table__cell">$4,000</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">UX Consulting</td>
            <td class="c-table__cell">1st Apr, 18</td>
            <td class="c-table__cell">Ina Higgins</td>
            <td class="c-table__cell">$2,500</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">Mongo DB Integration</td>
            <td class="c-table__cell">23th Dec, 18</td>
            <td class="c-table__cell">Stella Munoz</td>
            <td class="c-table__cell">$800</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">Small Design Help</td>
            <td class="c-table__cell">10th Apr, 17</td>
            <td class="c-table__cell">Dylan Shelton</td>
            <td class="c-table__cell">$2,180</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">Subpages</td>
            <td class="c-table__cell">1st Mar, 18</td>
            <td class="c-table__cell">Ellen Santiago</td>
            <td class="c-table__cell">$4,670</td>
        </tr>
        <tr class="c-table__row">
            <td class="c-table__cell">Analytics</td>
            <td class="c-table__cell">1st Jan, 18</td>
            <td class="c-table__cell">Maurice Briggs</td>
            <td class="c-table__cell">$1350</td>
        </tr>
    </tbody>
</table>
</div>