<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->


        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-shopping-basket tx-20"></i> <span class="menu-item-label">Mes commandes</span>'), orders_path, class: "br-menu-link #{current? "active", orders_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-id-card-o tx-20"></i> <span class="menu-item-label">Ma carte</span>'), fidelity_cards_path, class: "br-menu-link #{current? "active", fidelity_cards_path}" %>
        </li><!-- br-menu-item -->



        
         


     

       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->