<section class="products">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h3>Produits récents</h3>
        </div>
       <div class="row">

		<% @products.each do |product| %>

            <div class="col-md-3 product-item mg-t-20">	
               <%= render "shared/product/single_product" , product: product %>
			</div>
		<% end %> 
	</div>

	<div class="row load-more">
		<%= will_paginate @products, previous_label: "Précédent",next_label: "Suivant",  renderer: BootstrapPagination::Rails, class: "pagination load-more-button" %> 
	</div>
       
    </div>
</section>