<% @food_categories.each do |food_category| %>
    <tr >
        <td ><%= food_category.name %></td>
        <td><%= food_category.description %></td>
        
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_food_category_path(food_category), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), food_category_delete_path(food_category), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>