<div class="tabs">
  <ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item">
      <a class="nav-link active" id="actees-produites-tab" data-toggle="tab" href="#actees-produites" role="tab" aria-controls="actees-produites" aria-selected="false">Plats & Serveurs</a>
    </li>

   
  </ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="actees-produites" role="tabpanel" aria-labelledby="actees-produites-tab">


   <%= render "search/partials/subpartials/food_charts" %>
  </div>

  
</div>
</div>