 

<tr>
                        
    
    
    <td>TOTAL IMPAYÉE</td>
    <td></td>
    <td></td>
    <td></td>
   
    
 
    <td class="blue-amount"><strong><%= number_to_currency @total_impayee, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
</tr>

<tr>
                        
    
    
    <td>TOTAL ESPÈCE</td>
    <td></td>
    <td></td>
    <td></td>
   
    
 
    <td class="blue-amount"><strong><%= number_to_currency @total_espece, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
</tr>

<tr>
                        
    
    
    <td>TOTAL CARTE DE FIDÉLITÉ</td>
    <td></td>
    <td></td>
    <td></td>
   
    
 
    <td class="blue-amount"><strong><%= number_to_currency @total_carte, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
</tr>


 <tr>
                        
    

    <td>TOTAL GÉNÉRAL</td>
    <td></td>
    <td></td>
    <td></td>
   
    
 
    <td class="blue-amount"><strong><%= number_to_currency @total, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
</tr>