 <tr>
                        
    
    <td>TOTAL</td>
    <td></td>
    <td></td>
    <td></td>
   
    
 
    <td class="blue-amount"><strong><%= number_to_currency @total, unit: "", seperator: ",", delimiter: " " %></strong></td>
    
</tr>